@charset "UTF-8"


/**/


body, html{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Raleway', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

.container-fluid{
	padding: 0;
}

.separator{
	height: 3px;
	width: 10%;
	border: none;
	background-color: #2C3E50;
}
.separator2{
	height: 3px;
	width: 10%;
	border: none;
	background-color: #ffffff;
}

/*header*/
.header{
	background-color: #2C3E50;
	height: 70px;
	line-height: 70px;
}
.logo{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
}

.logo a:hover{
	color: #3498DB;
	}

.menu{
	float: right;

}
.menu a{
	color: #ffffff;
	margin-right: 20px;
}
.menu a:hover{
	color: #3498DB;
}

/*banniere*/
@keyframes ban{
	0%{
		left:0;
	}
	20%{
		left:0;
	}

	25%{
		left:-100%;
	}

	45%{
		left:-100%;
	}

	50%{
		left:-200%;
	}

	70%{
		left:-200%;
	}

	75%{
		left:-300%;
	}

	95%{
		left:-300%;
	}
	100%{
		left:0%;
	}

}
.banner{
	width: 100%;
	max-width:100%;
}
.ban{
	width: 100%;
	max-width:100%;
	position:relative;
	overflow: hidden;
}

.ban img{
	width: 100%;
	max-width:100%;
}
.ban figure img{
	width: 20%;
	float: left;
}

.ban figure {
	position: relative;
	width: 500%;
	margin :0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s ban infinite;
}

.inner-banner {
	position: absolute;
	top:45%;

	width:100%;
	text-align: center;
}
.inner-banner h1{
	color:#ffffff;
	text-shadow: 1px 1px 20px #000000;

}
.inner-banner .btn-custom{
	background-color: #2C3E50;
	color: #ffffff;
}

.inner-banner .btn-custom:hover{
	background-color: #2C3E50;
}
/*about*/
.about {
	text-align: center;
	padding-top:10%;
}

.about article{
	margin-top:10%;
	margin-bottom:10%;

}

.about article:hover{
	background-color: #eeeeee;
}

.about article h2 {
	text-align: center;
}

/*portefolio*/

.portfolio {
	padding-top:10%;
	background-color: #eeeeee;
	height: 1500px;

}

#portfolio{
	text-align: center;

}

.portefolio article{
	margin-top:10%;
	margin-bottom:10%;
}


.portfolio .item-folio {
	height: 380px;
	background-color: #eeeeee;
	text-align: center;

}
.portfolio article:hover{
	background-color: #ffffff;
}
/*Contact*/

.footer{
	background-color: #2C3E50;
	padding-top:10%;
	height: 700px;
}

.lien{
	text-align: center;
	margin-bottom: :10%;
}


#contact{
	color: #ffffff;
	text-align: center;

}

.collapse {
  border-collapse: collapse;
}
.separate {
  border-collapse: separate;
}

/*footer*/
